body {
  font-family: system-ui, sans-serif;
  margin: 2rem;
  line-height: 1.5;
}
nav a {
  margin-right: 1rem;
}

div.first {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

img[src="pp.png"] {
  width: 80px;
  height: auto;
  border-radius: 50%;
  margin: 14px;
  border: 5px #ff8300 solid;
}

div.second {
  height: min-content;
}

div.second a svg {
  width: 40px;
  height: min-content;
}

div.second a[href="/discord"] svg {
  width: 49px;
  position: relative;
  top: 4.5px;
}
