<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Noah Panchaud</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Hello world</h1>
    <p>Ce fut mon premier pas dans cet univers. Appelé "niveau 0" par certains, je l'appelle "le pont". C'est devenu ma passion. Mais s'il faut revenir au début... Je sais ! Mais pas toi (cheh)</p>
    <a href="https://vercel.com/?utm_source=noahpanchaud&amp;utm_campaign=oss" rel="external noopener noreferrer" target="_blank" title="Vercel"><img alt="Vercel" width="212" height="44" decoding="async" data-nimg="1" style="color: transparent; --darkreader-inline-color: transparent;" srcset="//discord.js.org/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpowered-by-vercel.e182e335.svg&amp;w=256&amp;q=75 1x, //discord.js.org/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpowered-by-vercel.e182e335.svg&amp;w=640&amp;q=75 2x" src="//discord.js.org/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpowered-by-vercel.e182e335.svg&amp;w=640&amp;q=75" data-darkreader-inline-color=""></a>
    <script src="script.js"></script>
  </body>
</html>
